version: '3.8'

services:
    prometheus:
        image: prom/prometheus:v3.8.0-rc.1
        restart: unless-stopped
        ports:
            - "9090:9090"
        volumes:
            - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
            - ./prometheus/alert_rules.yml:/etc/prometheus/alert_rules.yml
            - ./data/prometheus:/prometheus
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
            - '--web.console.libraries=/etc/prometheus/console_libraries'
            - '--web.console.templates=/etc/prometheus/consoles'
            - '--storage.tsdb.retention.time=${PROM_RETENTION_TIME:-7d}'
            - '--web.enable-lifecycle'
        networks:
            - monitoring

    loki:
        image: grafana/loki:3.6.4
        restart: unless-stopped
        ports:
            - "3100:3100"
        volumes:
            - ./loki/loki.yml:/etc/loki/loki.yaml
        command: -config.file=/etc/loki/loki.yaml
        networks:
            - monitoring

    node-exporter:
        image: prom/node-exporter:v1.10.2
        restart: unless-stopped
        ports:
            - "9100:9100"
        command:
            - '--path.procfs=/host/proc'
            - '--path.rootfs=/rootfs'
            - '--path.sysfs=/host/sys'
            - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
        volumes:
            - /proc:/host/proc:ro
            - /sys:/host/sys:ro
            - /:/rootfs:ro
        networks:
            - monitoring

    alertmanager:
        image: prom/alertmanager:v0.29.0
        restart: unless-stopped
        ports:
            - "9093:9093"
        volumes:
            - ./alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
            - ./data/alertmanager:/alertmanager
        command:
            - '--config.file=/etc/alertmanager/alertmanager.yml'
            - '--storage.path=/alertmanager'
        networks:
            - monitoring

    grafana:
        image: grafana/grafana:latest
        restart: unless-stopped
        ports:
            - "3000:3000"
        environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
            - GF_USERS_ALLOW_SIGN_UP=false
            - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-simple-json-datasource,grafana-piechart-panel
        volumes:
            - ./data/grafana:/var/lib/grafana
            - ./grafana/provisioning:/etc/grafana/provisioning
        depends_on:
            - prometheus
            - loki
        networks:
            - monitoring

networks:
    monitoring:
        driver: bridge